In [5]:
from datetime import timedelta, datetime
import glob
from itertools import chain
import json
import os
import re

import numpy as np
import pandas as pd

from wordcloud import WordCloud
import nltk
from nltk.corpus import stopwords
from konlpy.tag import Twitter
from collections import Counter
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.feature_extraction.text import CountVectorizer

from pandas.plotting import register_matplotlib_converters
#mport seaborn as sns
#import matplotlib.pyplot as plt
#import matplotlib as mpl
#import matplotlib.pyplot as plt
#import matplotlib.font_manager as fm
#font_path = 'fonts/MalgunGothic.ttf'
#font_name = fm.FontProperties(fname=font_path, size=10).get_name()
#plt.rc('font', family=font_name, size=12)
#plt.rcParams["figure.figsize"] = (20, 10)
#register_matplotlib_converters()

#mpl.font_manager._rebuild()
#mpl.pyplot.rc('font', family='NanumGothic')

In [7]:
val = pd.read_json('val.json', typ = 'frame', encoding='utf-8')
val.head()

,tags,id,plylst_title,songs,like_cnt,updt_date
0,[],118598,,"[373313, 151080, 275346, 696876, 165237, 52593...",1675,2019-05-27 14:14:33.000
1,[],131447,앨리스테이블,[],1,2014-07-16 15:24:24.000
2,[],51464,,"[529437, 516103, 360067, 705713, 226062, 37089...",62,2008-06-21 23:26:22.000
3,[],45144,,"[589668, 21711, 570151, 320043, 13930, 599327,...",20,2017-10-30 18:15:43.000
4,[],79929,,"[672718, 121924, 102694, 683657, 201558, 38511...",20,2017-02-07 11:40:42.000

In [8]:
# playlist만 있는 것
idx = []
for i in range(len(val)):
    if val['plylst_title'].iloc[i]:
        if not val['tags'].iloc[i]:
            if not val['songs'].iloc[i]:
                idx.append(i)

In [9]:
idx

[1,
 9,
 35,
 57,
 71,
 101,
 115,
 135,
 167,
 199,
 218,
 220,
 221,
 240,
 253,
 254,
 257,
 279,
 300,
 304,
 307,
 308,
 317,
 333,
 334,
 352,
 379,
 384,
 391,
 400,
 416,
 420,
 430,
 440,
 454,
 466,
 474,
 475,
 481,
 490,
 498,
 540,
 547,
 572,
 598,
 601,
 613,
 615,
 633,
 648,
 675,
 680,
 681,
 683,
 693,
 704,
 732,
 736,
 759,
 770,
 779,
 796,
 805,
 807,
 819,
 861,
 869,
 877,
 908,
 909,
 912,
 942,
 951,
 956,
 978,
 985,
 1025,
 1028,
 1029,
 1037,
 1053,
 1058,
 1074,
 1079,
 1087,
 1090,
 1093,
 1116,
 1130,
 1165,
 1166,
 1193,
 1256,
 1262,
 1272,
 1281,
 1286,
 1287,
 1292,
 1306,
 1356,
 1374,
 1379,
 1425,
 1435,
 1444,
 1459,
 1476,
 1527,
 1529,
 1546,
 1549,
 1550,
 1562,
 1564,
 1570,
 1596,
 1597,
 1610,
 1626,
 1667,
 1671,
 1690,
 1729,
 1749,
 1750,
 1768,
 1774,
 1777,
 1792,
 1794,
 1807,
 1809,
 1820,
 1835,
 1848,
 1853,
 1855,
 1878,
 1894,
 1901,
 1905,
 1930,
 1950,
 1959,
 1963,
 1985,
 2003,
 2024,
 2061,
 2067,
 2090,
 2105,
 2131,
 2160,
 2161,
 2166,
 2190,
 2192,
 2195,
 2197,
 2198,
 2238,
 2242,
 2287,
 2294,
 2303,
 2307,
 2319,
 2322,
 2329,
 2339,
 2371,
 2372,
 2381,
 2401,
 2406,
 2419,
 2422,
 2425,
 2443,
 2455,
 2458,
 2480,
 2484,
 2492,
 2504,
 2528,
 2534,
 2545,
 2546,
 2547,
 2555,
 2563,
 2564,
 2568,
 2573,
 2577,
 2599,
 2609,
 2618,
 2623,
 2626,
 2627,
 2635,
 2662,
 2668,
 2677,
 2686,
 2687,
 2698,
 2716,
 2722,
 2728,
 2748,
 2774,
 2775,
 2783,
 2808,
 2860,
 2864,
 2867,
 2897,
 2905,
 2908,
 2910,
 2913,
 2928,
 2941,
 2942,
 2948,
 2964,
 2971,
 3007,
 3013,
 3021,
 3041,
 3053,
 3075,
 3078,
 3092,
 3094,
 3097,
 3099,
 3101,
 3103,
 3112,
 3142,
 3146,
 3148,
 3149,
 3155,
 3179,
 3180,
 3196,
 3199,
 3211,
 3233,
 3246,
 3260,
 3261,
 3277,
 3301,
 3312,
 3324,
 3335,
 3338,
 3352,
 3359,
 3364,
 3365,
 3369,
 3396,
 3428,
 3449,
 3452,
 3500,
 3509,
 3526,
 3542,
 3546,
 3548,
 3562,
 3564,
 3599,
 3600,
 3620,
 3644,
 3654,
 3672,
 3708,
 3715,
 3746,
 3752,
 3768,
 3775,
 3781,
 3807,
 3810,
 3816,
 3837,
 3839,
 3854,
 3861,
 3898,
 3905,
 3908,
 3910,
 3947,
 3964,
 3988,
 3990,
 4019,
 4026,
 4028,
 4031,
 4036,
 4070,
 4078,
 4085,
 4096,
 4098,
 4114,
 4133,
 4152,
 4158,
 4181,
 4183,
 4201,
 4216,
 4227,
 4237,
 4238,
 4251,
 4252,
 4276,
 4297,
 4308,
 4332,
 4338,
 4347,
 4359,
 4365,
 4427,
 4435,
 4452,
 4456,
 4488,
 4503,
 4504,
 4506,
 4508,
 4510,
 4511,
 4521,
 4534,
 4555,
 4560,
 4572,
 4576,
 4583,
 4591,
 4594,
 4598,
 4602,
 4607,
 4610,
 4625,
 4632,
 4641,
 4648,
 4649,
 4661,
 4663,
 4684,
 4692,
 4694,
 4751,
 4758,
 4771,
 4795,
 4805,
 4832,
 4920,
 4930,
 4940,
 4959,
 4966,
 4985,
 4988,
 4989,
 5006,
 5029,
 5102,
 5109,
 5115,
 5119,
 5120,
 5138,
 5146,
 5161,
 5164,
 5176,
 5200,
 5236,
 5274,
 5290,
 5295,
 5307,
 5331,
 5334,
 5340,
 5347,
 5354,
 5355,
 5356,
 5372,
 5373,
 5384,
 5397,
 5409,
 5416,
 5420,
 5423,
 5436,
 5438,
 5452,
 5474,
 5488,
 5491,
 5506,
 5514,
 5518,
 5522,
 5525,
 5530,
 5571,
 5573,
 5574,
 5576,
 5584,
 5586,
 5589,
 5596,
 5603,
 5608,
 5628,
 5641,
 5651,
 5667,
 5694,
 5706,
 5721,
 5722,
 5744,
 5756,
 5792,
 5795,
 5818,
 5820,
 5845,
 5857,
 5859,
 5867,
 5870,
 5895,
 5896,
 5912,
 5913,
 5916,
 5919,
 5922,
 5925,
 5926,
 5931,
 5933,
 5934,
 5935,
 5941,
 5944,
 5957,
 5978,
 5981,
 5998,
 6009,
 6025,
 6091,
 6103,
 6104,
 6105,
 6125,
 6136,
 6152,
 6163,
 6207,
 6210,
 6221,
 6235,
 6238,
 6244,
 6269,
 6286,
 6305,
 6326,
 6347,
 6358,
 6380,
 6384,
 6391,
 6397,
 6402,
 6404,
 6412,
 6458,
 6481,
 6504,
 6510,
 6512,
 6524,
 6544,
 6547,
 6567,
 6568,
 6593,
 6607,
 6636,
 6660,
 6661,
 6663,
 6668,
 6692,
 6704,
 6722,
 6730,
 6741,
 6762,
 6776,
 6782,
 6783,
 6796,
 6828,
 6855,
 6857,
 6863,
 6870,
 6883,
 6892,
 6894,
 6895,
 6935,
 6941,
 6942,
 6954,
 6965,
 6967,
 6973,
 6994,
 6996,
 7018,
 7031,
 7033,
 7045,
 7049,
 7071,
 7084,
 7095,
 7099,
 7100,
 7128,
 7157,
 7174,
 7185,
 7187,
 7193,
 7194,
 7204,
 7212,
 7213,
 7220,
 7222,
 7228,
 7238,
 7239,
 7246,
 7263,
 7270,
 7278,
 7281,
 7292,
 7299,
 7325,
 7329,
 7335,
 7338,
 7339,
 7389,
 7413,
 7442,
 7466,
 7490,
 7496,
 7500,
 7506,
 7527,
 7529,
 7537,
 7558,
 7563,
 7589,
 7590,
 7594,
 7595,
 7605,
 7624,
 7632,
 7652,
 7654,
 7681,
 7682,
 7691,
 7720,
 7728,
 7746,
 7760,
 7768,
 7773,
 7783,
 7791,
 7792,
 7796,
 7863,
 7885,
 7889,
 7892,
 7909,
 7917,
 7933,
 7935,
 7940,
 7955,
 7956,
 7958,
 7979,
 7983,
 8009,
 8048,
 8051,
 8056,
 8060,
 8061,
 8070,
 8097,
 8099,
 8109,
 8140,
 8144,
 8148,
 8159,
 8167,
 8169,
 8204,
 8211,
 8213,
 8256,
 8290,
 8291,
 8316,
 8330,
 8349,
 8353,
 8358,
 8366,
 8395,
 8419,
 8426,
 8438,
 8464,
 8471,
 8485,
 8565,
 8588,
 8590,
 8592,
 8605,
 8617,
 8622,
 8628,
 8635,
 8655,
 8677,
 8678,
 8719,
 8749,
 8756,
 8792,
 8806,
 8810,
 8826,
 8835,
 8840,
 8847,
 8853,
 8862,
 8863,
 8875,
 8904,
 8912,
 8916,
 8929,
 8933,
 8936,
 8937,
 8939,
 8954,
 8977,
 9010,
 9019,
 9021,
 9063,
 9097,
 9113,
 9114,
 9134,
 9153,
 9161,
 9213,
 9220,
 9222,
 9264,
 9288,
 9292,
 9313,
 9321,
 9329,
 9336,
 9344,
 9356,
 9402,
 9444,
 9451,
 9479,
 9503,
 9519,
 9549,
 9576,
 9581,
 9588,
 9596,
 9600,
 9615,
 9619,
 9627,
 9635,
 9644,
 9669,
 9688,
 9710,
 9735,
 9738,
 9747,
 9782,
 9812,
 9837,
 9861,
 9865,
 9870,
 9880,
 9907,
 9909,
 9916,
 9920,
 9931,
 9934,
 9938,
 9946,
 9976,
 9994,
 10012,
 10019,
 10036,
 10055,
 10065,
 10081,
 10084,
 10111,
 10115,
 10120,
 10126,
 10146,
 10149,
 10159,
 10167,
 10179,
 10183,
 10206,
 10212,
 10226,
 10234,
 10249,
 10288,
 10297,
 10298,
 10310,
 10351,
 10377,
 10408,
 10410,
 10415,
 10432,
 10446,
 10466,
 10484,
 10488,
 10514,
 10528,
 10550,
 10561,
 10566,
 10583,
 10585,
 10588,
 10598,
 10639,
 10672,
 10695,
 10697,
 10719,
 10749,
 10774,
 10776,
 10804,
 10833,
 10835,
 10841,
 10859,
 10868,
 10881,
 10894,
 10910,
 10919,
 10920,
 10941,
 10947,
 10955,
 10958,
 10992,
 10997,
 11004,
 11043,
 11059,
 11084,
 11088,
 11135,
 11153,
 11157,
 11160,
 11182,
 11186,
 11222,
 11235,
 11237,
 11252,
 11275,
 11279,
 11312,
 11314,
 11315,
 11316,
 11317,
 11370,
 11373,
 11428,
 11460,
 11472,
 11485,
 11510,
 11513,
 11520,
 11536,
 11540,
 11555,
 11568,
 11585,
 11590,
 11601,
 11603,
 11606,
 11612,
 11613,
 11629,
 11637,
 11640,
 11645,
 11654,
 11670,
 11677,
 11690,
 11698,
 11706,
 11709,
 11712,
 11724,
 11732,
 11740,
 11745,
 11746,
 11751,
 11762,
 11783,
 11802,
 11820,
 11822,
 11855,
 11864,
 11889,
 11914,
 11921,
 11935,
 11937,
 11939,
 11967,
 11985,
 12020,
 12033,
 12048,
 12089,
 12093,
 12101,
 12109,
 12137,
 12138,
 12161,
 12164,
 12168,
 12189,
 12201,
 12204,
 12208,
 12230,
 12234,
 12240,
 12242,
 12250,
 12276,
 12327,
 12337,
 12343,
 12365,
 12367,
 12395,
 12411,
 12432,
 12433,
 12488,
 12494,
 12497,
 12513,
 12531,
 12560,
 12569,
 12576,
 12585,
 12597,
 12613,
 12614,
 12658,
 12672,
 12673,
 12675,
 12680,
 12696,
 12706,
 12715,
 12730,
 12732,
 12738,
 12746,
 12748,
 12754,
 12775,
 12790,
 12796,
 12819,
 12831,
 12841,
 12850,
 12869,
 12880,
 12897,
 12904,
 12915,
 12932,
 12938,
 12964,
 12973,
 12985,
 12996,
 12999,
 13016,
 13019,
 ...]

In [10]:
val.iloc[idx]

,tags,id,plylst_title,songs,like_cnt,updt_date
1,[],131447,앨리스테이블,[],1,2014-07-16 15:24:24.000
9,[],142007,기분 좋은 재즈와 함께 만드는 달달한 하루,[],0,2015-06-22 09:11:02.000
35,[],65114,"■■■■ 사랑,그리고이별 ■■■■",[],6,2010-10-27 10:34:34.000
57,[],87700,마쉬멜로우같은 멜로우한 음악,[],6,2016-01-14 10:19:30.000
71,[],35271,공부와 독서를 위한 #Newage,[],10,2020-01-17 15:46:20.000
...,...,...,...,...,...,...
22903,[],140513,10년이 지나 들어도 좋은 감성 Ballad,[],405,2016-01-11 10:58:05.000
22920,[],124704,가사의 의미와 뜻은모른다!! 오직 멜로디로만 선곡한 팝송!!,[],27,2016-02-05 12:31:59.000
22981,[],13045,＊카페 느낌 샹송♭,[],38,2011-07-12 00:58:39.000
22991,[],32537,컨트리 황제 조니 캐시가 선 레코드 시절 발표한 초기 대표작,[],28,2019-06-17 14:22:48.000
22996,[],86721,해 저무는 밤,[],5,2016-04-27 15:32:55.000

In [11]:
# playlist, tag만 있는 것
idx1 = []
for i in range(len(val)):
    if val['plylst_title'].iloc[i]:
        if val['tags'].iloc[i]:
            if not val['songs'].iloc[i]:
                idx1.append(i)
val.iloc[idx1]

,tags,id,plylst_title,songs,like_cnt,updt_date
8,[스트레스],80810,리듬타면서 빡시게 운동하자!!!(스트레스 날리자):},[],127,2017-02-09 17:33:45.000
17,[생각나],2380,다시 생각나는 그 사람,[],6,2016-03-19 23:53:20.000
20,"[피아노, 이루마, 메로디]",149069,불면증엔 아름다운 뉴에이지 곡들,[],11,2019-12-15 19:15:21.000
40,"[발렌타인데이, 달달한, 사랑노래, 고백]",80682,발렌타인 데이 -달콤한 초콜릿 매장 음악,[],27,2019-05-13 15:46:52.000
42,[새벽],8253,하루 끝 잔잔한 노래로 기분 좋게 잠에 들기,[],8,2019-06-08 23:48:41.000
...,...,...,...,...,...,...
22967,[분위기],36145,한국 갬성 있는 노래들만 모았다!!,[],12,2020-02-12 13:50:03.000
22969,"[감성, 신나는]",74670,노래 하나로 설레는 그런 발랄함,[],2,2020-03-11 00:55:41.000
22992,[사랑],32812,♥옷차림이 가벼워질때 부담없이 듣는음악♥,[],8,2015-05-08 00:09:01.000
23002,"[텐션, 명곡, 학창시절, 텐션업]",56570,숨어듣는명곡! 텐션올릴때듣는 그시절그노래!! (그냥명곡있을수있음주의),[],538,2020-04-18 22:02:07.000
23008,"[sweetmind, 발라드, 사랑, 기분전환, 역주행]",100684,[별책부록] Sweetmind의 음악마중,[],79,2020-02-07 14:42:25.000

In [12]:
# songs, tag만 있는 것
idx2 = []
for i in range(len(val)):
    if not val['plylst_title'].iloc[i]:
        if val['tags'].iloc[i]:
            if val['songs'].iloc[i]:
                idx2.append(i)
val.iloc[idx2]

,tags,id,plylst_title,songs,like_cnt,updt_date
5,"[비, 분위기, 컨트리, 서정적인]",138538,,"[173033, 138237, 63140, 15733, 461780, 308519,...",2,2019-06-12 17:43:35.000
11,"[아침, 눈, 크리스마스]",136650,,"[174132, 257367, 539802, 568691, 296891, 38471...",6,2017-11-24 11:26:05.000
12,[EDM],53131,,"[392257, 668879, 460746, 680240, 490966, 25010...",268,2016-09-19 15:40:31.000
21,"[상큼한, 출근길, 트렌디, 팝, 신나는]",7373,,"[534729, 149593, 677181, 179617, 408079, 34339...",73,2019-12-17 15:47:59.000
23,[발렌타인데이],29647,,"[498353, 283397, 588606, 499171, 191963, 46258...",19,2017-02-12 22:25:12.000
...,...,...,...,...,...,...
23005,[휴가],136258,,"[678182, 405854, 342032, 637450, 680023, 32460...",5,2018-08-08 09:12:42.000
23007,"[휴식, 포크, 커피, 2000년대]",44013,,"[434841, 362936, 361453, 628693, 113135, 35071...",180,2019-12-17 17:55:11.000
23009,[알앤비],17766,,"[114387, 701557, 547449, 473514, 360916, 49845...",1,2015-07-21 17:06:45.000
23010,[잔잔한],101722,,"[75842, 26083, 244183, 684715, 500593, 508608,...",17,2015-12-17 14:06:05.000
23011,"[어머니, 힘들때, 아빠, 가족, 위로받고싶을때]",122127,,"[450275, 487671, 561031, 663944, 628672, 59121...",10,2020-04-16 21:35:44.000

In [13]:
# songs만 있는 것
idx3 = []
for i in range(len(val)):
    if not val['plylst_title'].iloc[i]:
        if not val['tags'].iloc[i]:
            if val['songs'].iloc[i]:
                idx3.append(i)
val.iloc[idx3]

,tags,id,plylst_title,songs,like_cnt,updt_date
0,[],118598,,"[373313, 151080, 275346, 696876, 165237, 52593...",1675,2019-05-27 14:14:33.000
2,[],51464,,"[529437, 516103, 360067, 705713, 226062, 37089...",62,2008-06-21 23:26:22.000
3,[],45144,,"[589668, 21711, 570151, 320043, 13930, 599327,...",20,2017-10-30 18:15:43.000
4,[],79929,,"[672718, 121924, 102694, 683657, 201558, 38511...",20,2017-02-07 11:40:42.000
6,[],127575,,"[227044, 424672, 515592, 22408, 57893, 153714,...",2,2011-10-28 11:21:51.000
...,...,...,...,...,...,...
23003,[],127349,,"[474446, 111476, 241237, 70500, 577313, 145058...",14,2018-02-02 17:43:37.000
23006,[],92067,,"[486938, 154124, 70969, 596414, 243733, 557848...",9,2013-02-16 01:07:41.000
23012,[],77438,,"[625875, 464051, 11657, 236393, 358186, 213435...",0,2019-03-27 15:27:40.000
23013,[],36231,,"[161094, 665833, 688145, 432735, 439938, 12665...",31,2015-11-18 11:49:09.000
23014,[],65189,,"[643070, 132994, 98223, 293236, 513129, 650494...",19,2017-04-23 16:50:58.000

In [21]:
9661+8975+2628+1745

23009

In [15]:
origin = val.index.tolist()

In [16]:
# 리스트에서 여러 값 삭제
def remove_values_from_list(the_list, lst):
    return [value for value in the_list if value not in lst]

origin1 = remove_values_from_list(origin, idx)
origin1

[0,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 168,
 169,
 170,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 189,
 190,
 191,
 192,
 193,
 194,
 195,
 196,
 197,
 198,
 200,
 201,
 202,
 203,
 204,
 205,
 206,
 207,
 208,
 209,
 210,
 211,
 212,
 213,
 214,
 215,
 216,
 217,
 219,
 222,
 223,
 224,
 225,
 226,
 227,
 228,
 229,
 230,
 231,
 232,
 233,
 234,
 235,
 236,
 237,
 238,
 239,
 241,
 242,
 243,
 244,
 245,
 246,
 247,
 248,
 249,
 250,
 251,
 252,
 255,
 256,
 258,
 259,
 260,
 261,
 262,
 263,
 264,
 265,
 266,
 267,
 268,
 269,
 270,
 271,
 272,
 273,
 274,
 275,
 276,
 277,
 278,
 280,
 281,
 282,
 283,
 284,
 285,
 286,
 287,
 288,
 289,
 290,
 291,
 292,
 293,
 294,
 295,
 296,
 297,
 298,
 299,
 301,
 302,
 303,
 305,
 306,
 309,
 310,
 311,
 312,
 313,
 314,
 315,
 316,
 318,
 319,
 320,
 321,
 322,
 323,
 324,
 325,
 326,
 327,
 328,
 329,
 330,
 331,
 332,
 335,
 336,
 337,
 338,
 339,
 340,
 341,
 342,
 343,
 344,
 345,
 346,
 347,
 348,
 349,
 350,
 351,
 353,
 354,
 355,
 356,
 357,
 358,
 359,
 360,
 361,
 362,
 363,
 364,
 365,
 366,
 367,
 368,
 369,
 370,
 371,
 372,
 373,
 374,
 375,
 376,
 377,
 378,
 380,
 381,
 382,
 383,
 385,
 386,
 387,
 388,
 389,
 390,
 392,
 393,
 394,
 395,
 396,
 397,
 398,
 399,
 401,
 402,
 403,
 404,
 405,
 406,
 407,
 408,
 409,
 410,
 411,
 412,
 413,
 414,
 415,
 417,
 418,
 419,
 421,
 422,
 423,
 424,
 425,
 426,
 427,
 428,
 429,
 431,
 432,
 433,
 434,
 435,
 436,
 437,
 438,
 439,
 441,
 442,
 443,
 444,
 445,
 446,
 447,
 448,
 449,
 450,
 451,
 452,
 453,
 455,
 456,
 457,
 458,
 459,
 460,
 461,
 462,
 463,
 464,
 465,
 467,
 468,
 469,
 470,
 471,
 472,
 473,
 476,
 477,
 478,
 479,
 480,
 482,
 483,
 484,
 485,
 486,
 487,
 488,
 489,
 491,
 492,
 493,
 494,
 495,
 496,
 497,
 499,
 500,
 501,
 502,
 503,
 504,
 505,
 506,
 507,
 508,
 509,
 510,
 511,
 512,
 513,
 514,
 515,
 516,
 517,
 518,
 519,
 520,
 521,
 522,
 523,
 524,
 525,
 526,
 527,
 528,
 529,
 530,
 531,
 532,
 533,
 534,
 535,
 536,
 537,
 538,
 539,
 541,
 542,
 543,
 544,
 545,
 546,
 548,
 549,
 550,
 551,
 552,
 553,
 554,
 555,
 556,
 557,
 558,
 559,
 560,
 561,
 562,
 563,
 564,
 565,
 566,
 567,
 568,
 569,
 570,
 571,
 573,
 574,
 575,
 576,
 577,
 578,
 579,
 580,
 581,
 582,
 583,
 584,
 585,
 586,
 587,
 588,
 589,
 590,
 591,
 592,
 593,
 594,
 595,
 596,
 597,
 599,
 600,
 602,
 603,
 604,
 605,
 606,
 607,
 608,
 609,
 610,
 611,
 612,
 614,
 616,
 617,
 618,
 619,
 620,
 621,
 622,
 623,
 624,
 625,
 626,
 627,
 628,
 629,
 630,
 631,
 632,
 634,
 635,
 636,
 637,
 638,
 639,
 640,
 641,
 642,
 643,
 644,
 645,
 646,
 647,
 649,
 650,
 651,
 652,
 653,
 654,
 655,
 656,
 657,
 658,
 659,
 660,
 661,
 662,
 663,
 664,
 665,
 666,
 667,
 668,
 669,
 670,
 671,
 672,
 673,
 674,
 676,
 677,
 678,
 679,
 682,
 684,
 685,
 686,
 687,
 688,
 689,
 690,
 691,
 692,
 694,
 695,
 696,
 697,
 698,
 699,
 700,
 701,
 702,
 703,
 705,
 706,
 707,
 708,
 709,
 710,
 711,
 712,
 713,
 714,
 715,
 716,
 717,
 718,
 719,
 720,
 721,
 722,
 723,
 724,
 725,
 726,
 727,
 728,
 729,
 730,
 731,
 733,
 734,
 735,
 737,
 738,
 739,
 740,
 741,
 742,
 743,
 744,
 745,
 746,
 747,
 748,
 749,
 750,
 751,
 752,
 753,
 754,
 755,
 756,
 757,
 758,
 760,
 761,
 762,
 763,
 764,
 765,
 766,
 767,
 768,
 769,
 771,
 772,
 773,
 774,
 775,
 776,
 777,
 778,
 780,
 781,
 782,
 783,
 784,
 785,
 786,
 787,
 788,
 789,
 790,
 791,
 792,
 793,
 794,
 795,
 797,
 798,
 799,
 800,
 801,
 802,
 803,
 804,
 806,
 808,
 809,
 810,
 811,
 812,
 813,
 814,
 815,
 816,
 817,
 818,
 820,
 821,
 822,
 823,
 824,
 825,
 826,
 827,
 828,
 829,
 830,
 831,
 832,
 833,
 834,
 835,
 836,
 837,
 838,
 839,
 840,
 841,
 842,
 843,
 844,
 845,
 846,
 847,
 848,
 849,
 850,
 851,
 852,
 853,
 854,
 855,
 856,
 857,
 858,
 859,
 860,
 862,
 863,
 864,
 865,
 866,
 867,
 868,
 870,
 871,
 872,
 873,
 874,
 875,
 876,
 878,
 879,
 880,
 881,
 882,
 883,
 884,
 885,
 886,
 887,
 888,
 889,
 890,
 891,
 892,
 893,
 894,
 895,
 896,
 897,
 898,
 899,
 900,
 901,
 902,
 903,
 904,
 905,
 906,
 907,
 910,
 911,
 913,
 914,
 915,
 916,
 917,
 918,
 919,
 920,
 921,
 922,
 923,
 924,
 925,
 926,
 927,
 928,
 929,
 930,
 931,
 932,
 933,
 934,
 935,
 936,
 937,
 938,
 939,
 940,
 941,
 943,
 944,
 945,
 946,
 947,
 948,
 949,
 950,
 952,
 953,
 954,
 955,
 957,
 958,
 959,
 960,
 961,
 962,
 963,
 964,
 965,
 966,
 967,
 968,
 969,
 970,
 971,
 972,
 973,
 974,
 975,
 976,
 977,
 979,
 980,
 981,
 982,
 983,
 984,
 986,
 987,
 988,
 989,
 990,
 991,
 992,
 993,
 994,
 995,
 996,
 997,
 998,
 999,
 1000,
 1001,
 1002,
 1003,
 1004,
 1005,
 1006,
 1007,
 1008,
 1009,
 1010,
 1011,
 1012,
 1013,
 1014,
 1015,
 1016,
 1017,
 1018,
 1019,
 1020,
 1021,
 1022,
 1023,
 1024,
 1026,
 1027,
 1030,
 1031,
 1032,
 1033,
 1034,
 1035,
 1036,
 1038,
 1039,
 1040,
 1041,
 1042,
 1043,
 1044,
 1045,
 1046,
 1047,
 1048,
 1049,
 1050,
 1051,
 1052,
 1054,
 1055,
 1056,
 1057,
 1059,
 1060,
 1061,
 1062,
 1063,
 1064,
 1065,
 1066,
 1067,
 1068,
 1069,
 1070,
 1071,
 1072,
 1073,
 1075,
 1076,
 1077,
 1078,
 1080,
 1081,
 1082,
 1083,
 ...]

In [17]:
origin2 = remove_values_from_list(origin1, idx1)

origin3 = remove_values_from_list(origin2, idx2)

origin4 = remove_values_from_list(origin3, idx3)
origin4

[4514, 6113, 12607, 17558, 19221, 22830]

In [18]:
val.iloc[origin4]

,tags,id,plylst_title,songs,like_cnt,updt_date
4514,[알앤비],120699,,[],3,2016-02-04 16:39:50.000
6113,[],108253,,[],28,2012-07-27 17:22:57.000
12607,[],2996,,[],229,2018-10-08 13:16:50.000
17558,[],125531,,[],2,2014-06-09 14:48:35.000
19221,"[봄, 연주곡, Morning, Instrumental, 아침]",15941,,[],13,2019-05-24 09:52:50.000
22830,[],22014,,[],3,2015-05-25 17:10:52.000

In [19]:
# playlist, song만 있는 것
idx100 = []
for i in range(len(val)):
    if val['plylst_title'].iloc[i]:
        if val['songs'].iloc[i]:
            if not val['tags'].iloc[i]:
                idx100.append(i)
val.iloc[idx100]

Empty DataFrame
Columns: [tags, id, plylst_title, songs, like_cnt, updt_date]
Index: []

* association rule 리더보드에 제출하는 걸로 만들기(더 많은 feature 고려). 1,2번 케이스까지 어떻게 할 수 있을지 생각
* 발매일 연도별로 80년, 90년, 2000년대는 5년 단위로 2011년부터 1년 단위로 베스트셀러 노래 정리